<h1>Order Confirmation</h1>
<p>Here is a summary of your order. If everything looks good, please click Confirm to place your order. Thanks!</p>
<div>
  <% @order.line_items.each do |line_item| %>
    <%= line_item.book.title %>
    <%= line_item.book.price_cents %>
  </br>
  <% end %>
</div>
</br>
<%= link_to 'Confirm', confirm_order_order_path(@order), :method => :post %>